<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>
        International Business
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content fullscreen class="ion-padding">
  <br>
  <ion-img src="assets/bussiness.jpg"></ion-img>
  <p class="p2">International business, which involves cross-border commerce and other transactions between companies and governments, has been around for centuries. </p>

  <p class="p2">The study of international business involves understanding the effects that the above activities have on domestic and foreign markets, countries, governments, companies, and individuals. Successful international businesses recognize the diversity of the world marketplace and are able to cope with the uncertainties and risks of doing business in a continually changing global market</p>
   <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
        <audio controls autoplay>
          <source src="assets/International Bussiness.mp4" type="audio/mpeg">
        </audio>  
    </ion-fab-list>
  </ion-fab>
   
</ion-content>
