<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>
        Business Administration
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <br>
  <ion-img src="assets/admin.jpg"></ion-img>
  <p class="p2">Business administration is the work of managing an organization's resources, time and people.</p>

  <p class="p2">Business administration professionals work to ensure that businesses and organizations are run effectively, efficiently and profitably. This is a balancing act that requires knowledge and skills in a range of disciplines.</p>
   <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
        <audio controls autoplay>
          <source src="assets/Bussines Administration.mp4" type="audio/mpeg">
        </audio>  
    </ion-fab-list>
  </ion-fab>
   
</ion-content>
