.p1 {
    font-family: 'Domine';
    font-size: 23px;
    font-weight: bolder;
    color: #2F4650;
}
.p2 {
    font-family: 'Domine';
    font-size: 19px;
    color: #2F4650;
}

ion-title {
    color: white;
}