<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>
        Finance
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <br>
  <ion-img src="assets/finance.jpg"></ion-img>
  <p class="p2">Finance is a diverse field with a wide range of opportunities for those who want to help people or companies succeed financially.</p>

  <p class="p2">Finance specialists stay abreast of economic developments, tracking and predicting changes in the economic climate in order to increase profit. Their solid money skills are the backbone of any successful operation or personal investment plan.</p>
  <p class="p2">In addition to general skills such as critical thinking and fostering innovation, finance professionals must be decisive, and know how to express their financial insight in ways that others can understand. </p>
   <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
        <audio controls autoplay>
          <source src="assets/finance.mp4" type="audio/mpeg">
        </audio>  
    </ion-fab-list>
  </ion-fab>
   
</ion-content>
