<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>
        Marketing
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <br>
  <ion-img src="assets/marketing.jpg"></ion-img>
  <p class="p2">Marketing is the process of interesting potential customers and clients in your services. The key word in this marketing definition is "process"; marketing involves researching, promoting, selling, and distributing your products or services.  </p>

  <p class="p2"> Marketing as a discipline involves all the actions a company undertakes to draw in customers and maintain relationships with them. In marketing is attracting and retaining a growing base of satisfied customers.</p>
   <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
        <audio controls autoplay>
          <source src="assets/Marketing.mp4" type="audio/mpeg">
        </audio>  
    </ion-fab-list>
  </ion-fab>
   
</ion-content>
