ion-icon{
    display:block;
    margin:auto;
    height: 100px;
    width: 200px;
}

ion-card {
    border-radius: 28px 28px 28px 28px;
    -moz-border-radius: 28px 28px 28px 28px;
    -webkit-border-radius: 28px 28px 28px 28px;
    border: 0px solid #000000;
}

.t {
    font-size: 17px;
    text-align: start;
    color: white;
}