.p1 {
    font-family: 'Domine';
    font-size: 23px;
    font-weight: bolder;
    color: #2F4650;
    text-align: center;
}
.p2 {
    font-family: 'Domine';
    font-size: 19px;
    color: #2F4650;
}
.t {
    font-size: 17px;
    text-align: start;
    color: white;
}