<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <p class="t">Kellog Panama Business Institute</p> 
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <div>
    <p class="p1">Apply</p>
    <p class="p2">Requirements:</p>
    <p class="p2">1. Essay and video 1 min.</p>
    <p class="p2">2. High School Credits.</p>
    <p class="p2">3. Personal information (ID, email).</p> 
    <p class="p2">4. Family financial status.</p>
  </div>
  <div>
    <p class="p1">Application fee:</p>
    <p class="p2">500 $</p>
  </div>

</ion-content>
